.page_login{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #1d2f40ff;
    align-items: center;
}

.page_login .login_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 54%;
    margin-left: 5%;
}

.page_login .login_header img{
    width: 10%;
    cursor: pointer;
}
.page_login .login_header img:active{
    width: 9%;
}

.page_login form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15%;
    height: 30%;
}
.page_login form .form_input input{
    margin: 0px;
    padding: 0px;
    width: 78vw;
    height: 10vw;
    border: 0.2rem solid #8f00cdff;
    color: white;
    padding-left: 2%;
    background-color: rgba(240, 248, 255, 0);
}

.page_login form .form_input input:focus, .page_login form .form_input input:focus, .page_login form .form_input input:focus {
    outline: 0;
    border: 0.2rem ridge #8f00cdff;

} 

.page_login form .form_input input::placeholder{
    color: rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    font-size: 110%;
} 

.page_login form .form_password{
    margin-top: -5%;
}

.page_login form .form_password .form_password_eye{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 67%;
    margin-top: -9%;
    cursor: pointer;
}
.page_login form .form_password .form_password_eye img{
    width: 100%;
}

.page_login form .form_password_eye hr{
    height: 2px;
    width: 100%;
    border: none;
    background-color: #8f00cdff;
    position: absolute;
    transform: rotateZ(45deg);
}

.page_login form .form_password .form_password_eye .form_password_eye-visible{
    display: none;
}

.page_login form .btn_input{
    background-color: #8f00cdff;
    color: white;
    border-radius: 17px;
    border: none;
    width: 40%;
    height: 17%;
    font-size: 110%;

}

.page_login .form_division{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    margin-top: 10%;
}
.page_login .form_division hr{
    width: 40vw;
    height: 2px;
    border: none;
    background-color: #8f00cdff;
}

.page_login .login_options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    height: 17%;
}

.page_login .login_options button{
    width: 70%;
    height: 35%;
    background-color: #8f00cdff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.page_login .login_options button:active{
    width: 69%;
    height: 34%;
}

.page_login .login_options button p{
    width: 100%;
}

.page_login .login_options button img{
    width: 10%;
    background-color: white;
    border-radius: 300px;
    margin-left: 0%;
    justify-self: left;
}
/* 
.page_login .login_header{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color: white;
    font-family: "comfortaa";
}

.page_login form{
    width: 80%;
    margin-top: 15%;
    height: fit-content;
    
}

.page_login form div input{ 
    width: 100%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
}
.page_login form .form_password{
    margin-top: 15%;
}

.page_login form .form_btn{
    margin-top: 17%;
    display: flex;
    justify-content: space-between;
    width: 103%;
}

.page_login form .form_btn button{
    height: 7vh;
    width: 28vw;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
}

.page_login form .form_btn .btn-register{
    background-color: black;
    color: white;
}

.page_login form .form_btn button:active{
    height: 7vh;
    width: 27.5vw;

} */
